.offer {
  background-color: var(--main-color);
}

@media (width > 768px) {
  .offer__title {
    margin-bottom: 50px;
  }
}

@media (width <= 768px) {
  .offer__title {
    margin-bottom: 20px;
  }
}

.offer__more-buttons {
  display: flex;
  justify-content: space-between;
}

@media (width > 768px) {
  .offer__more-buttons {
    margin-bottom: 50px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__more-buttons {
    margin-bottom: 20px;
  }
}

@media (width <= 576px) {
  .offer__more-buttons {
    margin-bottom: 17px;
  }
}

.offer__keywords {
  display: flex;
}

@media (width > 768px) {
  .offer__keywords {
    gap: 20px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__keywords {
    gap: 8px;
  }
}

@media (width <= 576px) {
  .offer__keywords {
    gap: 10px;
  }
}

.offer__keyword-button {
  border: 1px solid var(--deep-color);
  border-radius: 31px;
  padding: 6px 20px 7px;
}

.offer__button-more {
  border-bottom: 1px solid var(--accent-color);
}

.offer__keyword-button,
.offer__button-more,
.offer__filter-select,
.offer__status-availability {
  font-family: var(--font-family);
  font-weight: 400;
}

@media (width > 768px) {
  .offer__keyword-button,
  .offer__button-more,
  .offer__filter-select,
  .offer__status-availability {
    font-size: 18px;
  }
}

@media (width <= 768px) {
  .offer__keyword-button,
  .offer__button-more,
  .offer__filter-select,
  .offer__status-availability {
    font-size: 12px;
  }
}

.offer__filter {
  display: flex;
}

.offer__filter-select {
  border: 1px solid;
  border-color: var(--accent-color);
  border-radius: 3px;
  padding: 7px 25px 8px;
  margin-left: auto;
}

.offer__filter-select:active,
.offer__filter-select:focus {
  border-color: var(--accent-color);
}

@media (width > 768px) {
  .offer__filter-select {
    margin-bottom: 40px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__filter-select {
    margin-bottom: 30px;
  }
}

@media (width <= 576px) {
  .offer__filter-select {
    margin-bottom: 40px;
  }
}

.offer__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

@media (width > 768px) {
  .offer__item {
    max-width: 440px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__item {
    max-width: 196px;
  }
}

@media (width <= 576px) {
  .offer__item {
    max-width: 170px;
  }
}

.offer__item-img {
  height: auto;
}

@media (width > 768px) {
  .offer__item-img {
    max-width: 440px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__item-img {
    border-radius: 3px;
    max-width: 196px;
    margin-bottom: 10px;
  }
}

@media (width <= 576px) {
  .offer__item-img {
    max-width: 170px;
    border-radius: 10px;
    margin-bottom: 12px;
  }
}

.offer__text {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--deep-color);
  margin: 0 auto;
}

@media (width > 768px) {
  .offer__text {
    font-size: 24px;
    max-width: 360px;
    margin-bottom: 25px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__text {
    font-size: 12px;
    line-height: 130%;
    max-width: 172px;
    margin-bottom: 10px;
  }
}

@media (width <= 576px) {
  .offer__text {
    font-size: 10px;
    line-height: 140%;
    max-width: 150px;
    margin-bottom: 8px;
  }
}

.offer__status {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width > 768px) {
  .offer__status {
    gap: 112px;
    margin-bottom: 16px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__status {
    gap: 35px;
    margin-bottom: 2px;
  }
}

@media (width <= 576px) {
  .offer__status {
    gap: 19px;
    margin-bottom: 9px;
  }
}

.offer__status-availability {
  position: relative;
}

.offer__status-availability::before {
  content: "";
  background-image: url(../../icons/pointer.svg);
  display: block;
  position: absolute;
  top: 2px;
}

@media (width > 768px) {
  .offer__status-availability::before {
    width: 13px;
    height: 13px;
    transform: translateX(-33px);
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__status-availability::before {
    width: 8px;
    height: 8px;
    transform: translateX(-20px);
  }
}

@media (width <= 576px) {
  .offer__status-availability::before {
    width: 10px;
    height: 10px;
    transform: translateX(-23px);
  }
}

.offer__status-sale {
  border-radius: 3px;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-weight: 400;
  color: #fff;
  background-color: var(--accent-color);
}

@media (width > 768px) {
  .offer__status-sale {
    max-width: 113px;
    max-height: 48px;
    font-size: 24px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__status-sale {
    max-width: 56px;
    max-height: 22px;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .offer__status-sale {
    max-width: 56px;
    max-height: 20px;
    font-size: 15px;
  }
}

.offer__price-status {
  display: flex;
  justify-content: center;
  align-items: end;
}

@media (width > 768px) {
  .offer__price-status {
    gap: 74px;
    margin-bottom: 43px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__price-status {
    gap: 35px;
    margin-bottom: 12px;
  }
}

@media (width <= 576px) {
  .offer__price-status {
    gap: 7px;
    margin-bottom: 17px;
  }
}

.offer__price-now {
  font-family: var(--second-family);
  font-weight: 900;
  color: var(--deep-color);
}

@media (width > 768px) {
  .offer__price-now {
    font-size: 42px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .offer__price-now {
    font-size: 20px;
  }
}

@media (width <= 576px) {
  .offer__price-now {
    font-size: 17px;
  }
}

.offer__price-disabled {
  font-family: var(--second-family);
  font-weight: 900;
  text-decoration: line-through;
}

@media (width > 768px) {
  .offer__price-disabled {
    font-size: 24px;
  }
}

@media (width <= 768px) {
  .offer__price-disabled {
    font-size: 12px;
  }
}

.offer__item-buttons {
  display: flex;
}

.offer__regulating-price-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.offer__minus {
  width: 20px;
  height: 20px;
  color: var(--deep-color);
}
