.header {
  background-color: var(--deep-color);
  /* min-width: 375px, max-width: 1920px */
  height: clamp(47px, 2.285rem + 2.78vw, 90px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
}

@media (width > 1200px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__characters {
  display: flex;
}

@media (width > 1200px) {
  .header__characters {
    /* min-width: 1200px, max-width: 1920px */
    margin-right: clamp(20px, -1.875rem + 4.17vw, 50px);
  }
}

@media (width > 768px) {
  .header__characters {
    gap: 50px;
  }
}

@media (width > 576px) and (width <= 768px) {
  .header__characters {
    gap: 40px;
  }
}

@media (width <= 576px) {
  .header__characters {
    gap: 25px;
  }
}

.header__burger-button {
  color: var(--main-color);
  width: 50px;
  height: 50px;
}

.header__icon-burger {
  stroke: currentColor;
}

.header__logo {
  /* min-width: 375px, max-width: 1920px */
  width: clamp(94px, 4.525rem + 5.76vw, 183px);
  height: clamp(39px, 1.861rem + 2.46vw, 77px);
}

@media (width <= 1200px) {
  .header__menu {
    font-weight: 300;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    right: -100vw;
    bottom: 0;
    z-index: var(--layer-2);
    background-color: var(--bg-color);
    min-width: 297px;
    padding: 144px 15px 20px 0;
    box-shadow: -2px 0 20px var(--shadow-color);
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__nav-list-link {
  display: block;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__nav-list-link:hover {
    color: var(--accent-color);
  }
}

.header__cart {
  color: var(--main-color);
  width: 48px;
  height: 48px;
}

@media (width > 1200px) {
  .header__cart-button {
    /* min-width: 1200px, max-width: 1920px */
    margin-left: clamp(20px, -2.917rem + 5.56vw, 60px);
  }
}
