html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1220px;
}

.section {
  max-width: 1220px;
  padding-bottom: 140px;
  margin: 0 auto;
}
