table {
  font-family: "Roboto Slab", sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  border: 1px solid #000;
  border-bottom: 0;
  font-weight: 800;
}

thead {
  font-weight: 800;
}

tr,
td {
  border: 1px solid #000;
}

.выходные {
  color: red;
}
